@use 'variables' as *;

// fix
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2'),
    url('/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Black.woff2') format('woff2'),
    url('/fonts/Lato-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background: linear-gradient(225.00deg, rgb(13, 30, 72) 0%,rgb(48, 69, 113) 100%);
  overflow-x: hidden;
  color: $text-color;
}
